body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    background-color: #333;
    color: rgba(219, 69, 28, 0.694)
    padding: 30px;
}

#inventory-section, #add-product-form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: left;
}

button {
    margin: 5px;
}

#message {
    color: rgb(0, 128, 34);
    font-weight: bold;
}

#product-list {
    list-style-type: none;
}

li {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
}
